<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/assets/styleSearch.css">
    <link rel="stylesheet" href="/assets/nav.css">
    <link rel="stylesheet" href="/assets/footer.css">
  </head>
  <body>
    <% if (username){ %>
      <% if(username === "rootuser") { %>
      <% include partials/navRoot %>
    <%  } else { %>
          <% include partials/navUser  %>
        <% } %>
      <% } else { %>
        <% include partials/nav  %>
    <%  } %>
    <br><br><br><br><br>
    <h1>Find By Second Name</h1>

    <div class="form">

      <form class="" action="/search" method="post" required>
        <input type="text" name="second_name" value="" placeholder="Enter the second Name .. " required>
        <input type="submit"  value="Search">
      </form>

    </div>

    <br><br>
  <%  if (member) { %>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>First Name </td>
            <td>Second Name</td>
            <td>Email</td>
          </tr>

        </thead>

    <tbody>
    <% for(i = 0 ; i<member.length ; i++){ %>





              <tr>
                <td><%= member[i].id %></td>
                <td><%= member[i].first_name %></td>
                <td><%= member[i].second_name %></td>
                <td><%= member[i].email %></td>
              </tr>





<%}%>

</tbody>

</table>



<%}%>
<br><br><br><br><br><br><br>

<% include partials/footer %>
  </body>
</html>
